@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="d-flex">
            <h6 class="m-1">@User.Identity.GetUserName()</h6>
            <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-dark m-1">Log off</a>
        </div>
    }
}
else
{
    <div class="d-flex">
        <a>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-dark m-1", id = "registerLink" })</a>
        <a>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-dark m-1", id = "loginLink" })</a>
    </div>
}
